@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.app {
    margin: auto;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #000000 !important;
  }

  .MuiInputBase-root
    {
    color: #000000 !important;
  }

  .MuiFormLabel-root{
    color: #000000 !important;
    font-size: 0.8rem !important;
    font-family: "Fauna One",sans-serif !important;
    align-items: center !important;

  }

  .css-15qwt0m-MuiTypography-root{
    margin-bottom: 30px !important;
  }

  .css-7366i9-MuiTypography-root{
    margin-bottom: 0px !important;
  }
  

  @media(max-width:575px){
    .css-l7gfgr {
        font-size: 15px !important;
    }
    .css-7zx5xd{ 
        font-size: 10px !important;
    }
    .MuiFormLabel-root{
        font-size: 0.7rem !important;
        align-items: center !important;
      }
      .MuiFormControl-root{
        max-width: 80% !important;
      }
}

@media(max-width:470px){
    .css-l7gfgr {
        font-size: 12px !important;
    }
    .css-7zx5xd{ 
        font-size: 8px !important;
    }
    .MuiFormLabel-root{
        font-size: 0.6rem !important;
        align-items: center !important;
      }
      .MuiFormControl-root{
        max-width: 80% !important;
      }
}
